# Git & IDE
.git
.gitignore
.vscode
.idea

# Docker files (prevent recursive context)
Dockerfile
.dockerignore
docker-compose.yml

# Rails temporary and log files
/log/*
/tmp/*
/storage/*
/public/assets

# Environment variables (NEVER bake secrets into the image)
.env
.env.*
!.env.example

# Testing and Documentation
/spec
/test
/README.md

# Node modules
/node_modules

